In [1]:
import pandas as pd

In [2]:
path = r'data\character-deaths.csv'
df = pd.read_csv(path)

In [4]:
df.head()

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),None,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,NaN,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0

In [5]:
df.tail()

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
912,Zollo,None,NaN,NaN,NaN,21.0,1,0,0,0,1,0,0
913,Yurkhaz zo Yunzak,None,300.0,5.0,59.0,47.0,1,0,0,0,0,0,1
914,Yezzan Zo Qaggaz,None,300.0,5.0,57.0,25.0,1,1,0,0,0,0,1
915,Torwynd the Tame,Wildling,300.0,5.0,73.0,73.0,1,0,0,0,1,0,0
916,Talbert Serry,Tyrell,300.0,4.0,29.0,29.0,1,1,0,0,0,1,0

In [6]:
print(pd.__version__)

0.18.1

In [7]:
names = ['Tom','John','Will','Kim']
age = [10,20,12,18]

In [8]:
i = list(zip(names,age))
print(i)

[('Tom', 10), ('John', 20), ('Will', 12), ('Kim', 18)]

In [12]:
df = pd.DataFrame(data = i, columns = ('Names','Age'))
df

  Names  Age
0   Tom   10
1  John   20
2  Will   12
3   Kim   18

In [13]:
df.to_csv('pandasData.csv')