In [1]:
import pandas as pd
import numpy as np

# DataFrames

In [2]:
df = pd.DataFrame({
        'country':['Ind','Aus','SL','SA','Pak'],
        'capital':['Delhi','Canbera','Colombo','Capetown','Karachi']
    })

df

    capital country
0     Delhi     Ind
1   Canbera     Aus
2   Colombo      SL
3  Capetown      SA
4   Karachi     Pak

In [3]:
df = pd.DataFrame({
        'country':['Ind','Aus','SL','SA','Pak'],
        'capital':['Delhi','Canbera','Colombo','Capetown','Karachi']
    }, index=('a','b','c','d','e'))

df

    capital country
a     Delhi     Ind
b   Canbera     Aus
c   Colombo      SL
d  Capetown      SA
e   Karachi     Pak

In [4]:
df.describe

<bound method NDFrame.describe of     capital country
a     Delhi     Ind
b   Canbera     Aus
c   Colombo      SL
d  Capetown      SA
e   Karachi     Pak>

In [5]:
df.capital

a       Delhi
b     Canbera
c     Colombo
d    Capetown
e     Karachi
Name: capital, dtype: object

In [6]:
df.country

a    Ind
b    Aus
c     SL
d     SA
e    Pak
Name: country, dtype: object