In [1]:
import pandas as pd
import numpy as np

# Handle Missing Values

In [2]:
data_1 = [10,12,3,4,5,30,6,44]
data_2 = [32,12,34,56,2,34,5,9]

series_1 = pd.Series(data_1, index=('a','b','c','d','e','f','g','h'))
series_2 = pd.Series(data_2, index=('c','f','g','i','j','k','l','m'))

In [3]:
sum_of_series = series_1 + series_2
sum_of_series

a     NaN
b     NaN
c    35.0
d     NaN
e     NaN
f    42.0
g    40.0
h     NaN
i     NaN
j     NaN
k     NaN
l     NaN
m     NaN
dtype: float64

In [5]:
# Dropna is user to drop the NaN columns
drop_series = sum_of_series.dropna()
drop_series

c    35.0
f    42.0
g    40.0
dtype: float64

In [7]:
# Fillna is used to fill the NaN values
fill_series = sum_of_series.fillna(0)
fill_series

a     0.0
b     0.0
c    35.0
d     0.0
e     0.0
f    42.0
g    40.0
h     0.0
i     0.0
j     0.0
k     0.0
l     0.0
m     0.0
dtype: float64